{{#each id_usuario}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-body">
                    <form action="/docentes/editar/{{id_usuario}}" method="POST">
                        <div class="form-group">
                            <label for=""></label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="nombre" value="{{nombre}}" placeholder="digite el nombre del docente">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="edad" value="{{edad}}" placeholder="digite la materia">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="correo" value="{{correo}}" placeholder="digite el periodo">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" type="submit"><i class="fas fa-sign-in-alt"> Editar</i> </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{{/each}}